@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --black: #0f0f07;
    --gray: #1a1a1a;
    --white: #FEFAE0;
    --cyan: #20A39E;
    --orange: #fe5e41;
    --font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    margin: 0%;
    background-color: var(--white);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.box {
    display: block;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border-radius: 1vmin;
    box-shadow: 1vmin .5vmin 2vmin -1vmin var(--gray);
}

.hidden {
    display: none;
}

.spacer {
    margin: auto;
}

#navbar {
    padding-left: 3vmin;
    padding-right: 3vmin;
}

#navbar nav {
    display: flex;
    padding: 2vmin;
    border-bottom: 1px solid var(--gray);
}

#navbar nav > h1 {
    margin: 0%;
    color: var(--gray);
}

#menu-box {
    position: absolute;
}

#menu {
    padding: 0%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu > li {
    display: inline;
    text-align: center;
    color: var(--white);
    font-weight: 600;
    width: 20vmin;
    padding: 1vmin;
    transition: .3s;
}

#menu a {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 1vmin;
}

#menu span {
    color: var(--white);
}

#menu > li:hover {
    color: var(--white);
    background-color: var(--gray);
}

#footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vmin;
    color: var(--white);
}

#footer #title {
    margin: 0%;
}

#footer #text {
    display: flex;
    gap: .5vmin;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0%;
    font-size: .75rem;
}
